.keyboard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 50px;

  &__button {
    width: 26%;
    line-height: 0;
    margin-bottom: 15px;
    background-color: $color-gray-button;
    color: $color-text-button;
    font-weight: 500;
    border-radius: 5px;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.75);
    cursor: pointer;
    padding: 0 5px;
    position: relative;
  }

  &__symbol {
    color: $color-text-screen;
    font-weight: 500;
    position: absolute;
    margin: 0;
    bottom: 12px;
    right: 12px;
  }
}