
// Background colors
$color-gray-body:   #434343 !default;
$color-gray-panel:  #7d7d7f !default;
$color-gray-button: #63636e !default;
$color-screen-on:   #7fffff !default;
$color-screen-off:  #47b2b2 !default;

// Text colors

$color-text-button: #f3f3f3 !default;
$color-text-screen: #434343 !default;